*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner{
    background-color: aqua;
    height: 5rem;
}

.header{
    font-size: 4vh;
    background-color: rebeccapurple;
}

.content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    outline: 3px;
    padding: 2vh;
}
table{
    width: 50%;
    border-collapse: collapse;
}
tr{
    height: 30px;
}

td, th{
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: lightblue;
    transition: linear;
    transition-duration: 150ms;
}
