*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.banner{
    background-color: aqua;
    width: 100%;
    height: 6rem;
    font-size: 5vh;
    text-align: center;
    vertical-align: bottom;
}

.header{
    font-size: 4vh;
    background-color: rebeccapurple;
}

.header-home{
    width: 100%;
    font-size: 4vh;
    background-color: plum;
    text-align: center;
    vertical-align: middle;
    height: 6vh;
}

.content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    outline: 3px;
    padding: 3vh;
}

.home{
    font-size: 3vh;
    padding: 7px 3rem 11px 3rem;
    vertical-align: middle;
    height: min-content;
}

.home:hover{
    background-color: lightpink;
    transition: linear;
    transition-duration: 100ms;
}

.backhome{
    text-align: center;
    font-size: 3vh;
    background-color: lightsalmon;
}

table{
    min-width: 30%;
    
    border: 1px solid;
    border-collapse: collapse;
}
.fullrow{
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}

td,th{
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    padding: 5px;
    border-bottom: 1px solid gray;
}
tr:nth-child(even){
    background-color: beige;
}
th{
    height: 3rem;
}
td{
    word-wrap: break-word;
}
tr,td{
    height: 2rem;
}
tr:hover{
    background-color: lightblue;
    transition: linear;
    transition-duration: 75ms;
}
