<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/unique.css">
    <title>Obtain basic informations</title>
</head>
<body>
    <div class="banner">

    </div>
    <div class="header">
        Basic informations about the dataset:
    </div>
    <div class = 'content'>
        <table>
            {% for i in range(bi.dataframe[0].size) %}
            <tr>
                <td>{{bi.dataframe[0].iloc[i]}}</td>
                <td>{{bi.dataframe[1].iloc[i]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class = 'backhome'>
        <a href="/" >Back home</a>
    </div>
</body>
</html>