<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/unique.css">
    <title>Documentation</title>
</head>
<body>
    <div class="banner"></div>
    <div class="header">Read some more informations about our project:</div>
    <div class="content">
        The web app we developed offers the customer some insight into the latest human genome annotation, providing selected data as online tables the user can consult.
        Software design was carried out with a Class Diagram written in the UML standards:
        <img src="/static/Class diagram.jpg" alt="" style="width: 100%;">
    </div>
    <div class = 'backhome'>
        <a href="/" >Back home</a>
    </div>
</body>
</html>