<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/unique.css">
        <title>Home</title>
    </head>
    <body>
        <div class="background-image">
            <div class="button-doc">
                    <a href="/documentation" target="_blank"><span>PROJECT DOCUMENTATION</span></a>
            </div>
            <div class="header">
                <span>Welcome to the quick data access for GRCh38 human genome annotation</span>
            </div>
            <div class="button-op">
                <a href="/operations" target="_blank"><span>OPERATIONS</span></a>
            </div>
        </div>
    </body>
</html>