<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/unique.css">
    <title>Active Operations</title>
</head>
<body>
    <div class="banner"></div>
    <div class="header">
        These are the active operations:
    </div>
    <div class="content">
        <ul>
            <li><a href="/basicInfo" target="_blank">basicInfo</a></li>
            <li><a href="/FeaturesCount" target="_blank">FeaturesCount</a></li>
            <li><a href="/ListID" target="_blank">List IDs</a></li>
            <li><a href="/ListTypes" target="_blank">ListTypes</a></li>
            <li><a href="/EntriesCount" target="_blank">EntriesCount</a></li>
            <li><a href="/EntireChromosomes" target="_blank">EntireChromosomes</a></li>
            <li><a href="/UnassembledSeq" target="_blank">UnassembledSeq</a></li>
            <li><a href="/EHselect" target="_blank">EHselect</a></li>
            <li><a href="/EHentries" target="_blank">EHentries</a></li>
            <li><a href="/EHGeneNames" target="_blank">EHGeneNames</a></li>
        </ul>
    </div>
    <div class = 'backhome'>
        <a href="/" >Back home</a>
    </div>
</body>
</html>